[
  {rabbit, [
    {loopback_users, []},
        {ssl_listeners, [5671]},
    {collect_statistics_interval, 5000 },
    {ssl_options, [{certfile,"/etc/rabbitmq/rabbitmq.pem"},
                   {keyfile,"/etc/rabbitmq/rabbitmq.key"},
                   {versions, ['tlsv1.2', 'tlsv1.1']},
                   {verify,verify_none},
                   {fail_if_no_peer_cert,false}]}
    ,{cluster_partition_handling, pause_minority}      ]},
  {rabbitmq_management, [{rates_mode, basic }] }
].
